{% extends "base.html" %}
{% load static %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'Quizzes/QuizCard.css'%}">
{% endblock %}
{% block body%}
<div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="col-10 text-center text-white">
            <h1 style="font-size: 8vmin;">Current Available Quizzes</h1>
        </div>
    </div>
    {% for Quiz in Quizzes %}
    <article class="postcard blue my-5 my-lg-2">
		<a class="postcard__img_link" href="{% url 'Quizzer:startQuiz' Quiz.pk %}">
			<img class="postcard__img" src="{{Quiz.Image.url}}" alt="Image Title" />
		</a>
		<div class="postcard__text">
			<h1 class="postcard__title blue"><a href="{% url 'Quizzer:startQuiz' Quiz.pk %}">{{Quiz.Subject}}</a></h1>
			<div class="postcard__subtitle small">
				<time datetime="2020-05-25 12:00:00">
					<i class="fas fa-calendar-alt mr-2"></i>{{Quiz.created_at|date:"D, F dS Y"}}
				</time>
			</div>
			{% if Quiz.last_modified %}
			<div class="postcard__subtitle small">
				<time datetime="2020-05-25 12:00:00">
					<i class="far fa-user mr-2"></i>{{Quiz.last_modified.username}}
				</time>
			</div>
			{% endif %}
			<div class="postcard__bar"></div>
			<div class="postcard__preview-txt">{{Quiz.Description}}</div>
			<ul class="postcard__tagbox">
				<li class="tag__item play blue">
					<a href="{% url 'Quizzer:startQuiz' Quiz.pk %}"><i class="fas fa-play mr-2"></i>Take Quiz</a>
				</li>
			</ul>
		</div>
	</article>
	{% empty %}
	<div class="container">
		<div class="row d-flex justify-content-center">
			<h4 class="text-white text-center" style="font-size: 4vmin;">Sorry, there are currently no available quizzes. If you're an admin please add some through the Modify Quiz section, otherwise please try again later.</h4>
		</div>
	</div>
    {% endfor %}
</div>
{% endblock %}