{% extends "base.html" %}
{% load static %}
{% block CSS%}
<link rel="stylesheet" href="{% static 'Quizzes/QuizModifyCard.css'%}">
{% endblock %}
{% block body%}
<div class="container mt-5">
    <div class="row d-flex">
        <div class="col-12 col-md-4 col-xl-3">
            <h4 class="text-white text-center" style="font-size: 4vmin; text-decoration:underline;">Modifying Quiz</h4>
            <div class="card bg-dark">
                <div class="card-header pmd-title-separator">
                    <h3 class="card-title"><a href="{% url 'Quizzer:modifyQuiz' Quiz.id %}" class="underline text-white">{{Quiz.Subject}}</a></h3>
                    <p class="card-subtitle text-secondary">{{Quiz.Description|truncatechars:40}}</p> 
                </div>
            </div>
            <button type="button" class="btn btn-danger btn-block mt-1" data-toggle="modal" data-target="#deleteQuiz">Delete</button>
        </div>
        <div class="col-12 col-md-8 col-xl-9 align-self-center mt-3 mt-sm-0">
            <h4 class="text-white text-center" style="font-size: 4vmin; text-decoration:underline;">Modifying Question</h4>
            <a href="{% url 'Quizzer:modifyQuestion' Quiz.id Question.id %}" style="text-decoration: none;">
                <div class="card bg-info">
                    <div class="card-body">
                        <div class="row text-white d-flex">
                            <div class="col-2 col-md-3 col-lg-2 align-self-center" style="border-right: 4px dotted white;">
                                <h3 class="text-center" style="font-size: 6vmin;">{{Question.QuestionNumber}}.</h3>
                            </div>
                            <div class="col-10 col-md-9 col-lg-10">
                                <p>
                                    {{Question.Prompt|truncatechars:50}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <button type="button" class="btn btn-danger btn-block mt-1" data-toggle="modal" data-target="#deleteQuestion">Delete</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-12 card mt-5 bg-success">
            <h5 class="card-header">
                <a class="d-flex justify-content-center collapsed" data-toggle="collapse" href="#New_Choice" aria-expanded="false" aria-controls="collapse-collapsed" id="heading-collapsed">
                    <i class="text-white fas fa-plus"></i>
                </a>
            </h5>
            <div id="New_Choice" class="collapse" aria-labelledby="heading-collapsed">
                <div class="card-body">
                    <form class="form-signin" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-label-group">
                            {{form.ChoiceNumber}}
                            <p class="text-white text-center text-md-left" for="inputUserame">Choice Number</p>
                            {{ form.ChoiceNumber.errors }}
                        </div>
      
                        <div class="form-label-group">
                            {{form.Text}}
                            <p class="text-white text-center text-md-left" for="inputEmail">Text</p>
                            {{ form.Text.errors }}
                        </div>

                        <div class="form-label-group">
                            {{form.is_correct}}
                            <p class="text-white text-center text-md-left" for="inputEmail">Is Correct</p>
                            {{ form.is_correct.errors }}
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Create Choice</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row d-flex justify-content-center text-white">
        <h3 style="text-decoration: underline;font-size: 7vmin;">Existing Choices</h3>
    </div>
</div>
<div class="container my-2">
    <div class="row">
        {% for Choice in Choices%}
        <div class="col-xl-6 col-md-12 mb-3 mt-lg-0">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center mr-4">
                        <h3 style="font-size: 6vmin;">{{Choice.ChoiceNumber}}.</h3>
                        {% if Choice.is_correct %}
                        <i class="fas fa-check fa-3x" style="color: green;"></i>
                        {% else %}
                        <i class="fas fa-times fa-3x" style="color: red;"></i>
                        {% endif %}
                    </div>
                    <div class="media-body">
                      <span>{{Choice.Text}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-danger text-white btn-block mt-1" href="{% url 'Quizzer:deleteChoice' Quiz.id Question.id Choice.id%}">Delete</a>
          </div>
        {% empty %}
        <h4 class="text-white text-center" style="font-size: 4vmin;">There are no existing choices currently, please add one by clicking the green button above.</h4>
        {% endfor %}
    </div>
</div>
<div class="modal fade" id="deleteQuiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete {{Quiz.Subject}}?</h5>
        </div>
        <div class="modal-body">
            By clicking the confirm delete button below you will delete {{Quiz.Subject}}, all questions associated with {{Quiz.Subject}}, and all choices associated with {{Quiz.Subject}}. This decision is <strong>PERMANENT</strong> and cannot be undone.
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'Quizzer:deleteQuiz' Quiz.id %}" class="btn btn-danger">Confirm Deletion</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Question #{{Question.QuestionNumber}}?</h5>
        </div>
        <div class="modal-body">
            By clicking the confirm delete button below you will delete Question #{{Question.QuestionNumber}} and all choices associated with Question #{{Question.QuestionNumber}}. This decision is <strong>PERMANENT</strong> and cannot be undone.
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'Quizzer:deleteQuestion' Quiz.id Question.id %}" class="btn btn-danger">Confirm Deletion</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}